.container3-chanel{
    border-bottom: 3px solid rgba(1,26,96,0.692);
    padding: 5rem;
    color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
}
.chanel-logo-chanel{
    border: 10px solid rgba(49,7,219,0.66);
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(92,135,4,0.769);
}
.chanel-logo-chanel b{
    margin: auto;
    font-size: 3rem;
}
.description-chanel{
    text-align: center;
}
.description-chanel b{
    font-size: 4rem;
}
.description-chanel p{
    font-size: larger;
}
.uploadbtn-chanel,
.editbtn-chanel{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: blue;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    color: white;
    transition: all 1s;
    cursor: pointer;
}
.uploadbtn-chanel{
    top: 4rem;
}
.uploadbtn-chanel:hover,.editbtn-chanel:hover{
    border: 2px solid;
    color: rgb(231,140,14);
}